<!-- Footer -->
<footer class="page-footer bg-dark font-small special-color-dark pt-4 text-white mt-auto">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2021 Copyright:
        <a href="/" class="link-light"> YelpCamp.com</a>
    </div>
    <div class="footer-copyright text-center py-2">Design and develop by:
        <a href="https://www.linkedin.com/in/vikas-kumar-gupta-05332b15a/" tagret="_blank" class="link-light">Vikas
            Kumar
            Gupta</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->